In [3]:
import iglu
import pandas as pd

# print(iglu.iglu.sd_roc)
data = pd.read_csv('../data/example_data_1_subject.csv', index_col=0)

iglu.above_percent(data)

          id  above_140  above_180  above_250
1  Subject 1  26.140652   8.198971   0.377358

In [4]:
iglu.active_percent(data)

,id,active_percent,ndays,start_date,end_date
1,Subject 1,79.841139,12.7,2015-06-06 16:50:27-05:00,2015-06-19 08:59:36-05:00

In [5]:
iglu.adrr(data)

          id       ADRR
1  Subject 1  15.101109

In [6]:
iglu.agp(data)

R[write to console]: Error in print(..., self = self) : unused argument (useS4 = FALSE)

/Users/nathanielfernandes/miniconda3/envs/iglu-py/lib/python3.10/site-packages/rpy2/robjects/robject.py:123: UserWarning: Invalid call to "show()" in R: Error in print(..., self = self) : unused argument (useS4 = FALSE)

  warnings.warn(f'Invalid call to "show()" in R: {rre}')
R[write to console]: Error in print(..., self = self) : unused argument (useS4 = FALSE)

R[write to console]: Error in print(..., self = self) : unused argument (useS4 = FALSE)

R[write to console]: Error in print(..., self = self) : unused argument (useS4 = FALSE)

R[write to console]: Error in print(..., self = self) : unused argument (useS4 = FALSE)

/Users/nathanielfernandes/miniconda3/envs/iglu-py/lib/python3.10/site-packages/rpy2/robjects/robject.py:123: UserWarning: Invalid call to "show()" in R: Error in print(..., self = self) : unused argument (useS4 = FALSE)

  warnings.warn(f'Invalid call to "show()" in R: {rre}')
R[write to console]: Error in print(..., self = self) : unused argument (useS4 = FALSE)

/Users/nathanielfernandes/miniconda3/envs/iglu-py/lib/python3.10/site-packages/rpy2/robjects/robject.py:123: UserWarning: Invalid call to "show()" in R: Error in print(..., self = self) : unused argument (useS4 = FALSE)

  warnings.warn(f'Invalid call to "show()" in R: {rre}')
R[write to console]: Error in print(..., self = self) : unused argument (useS4 = FALSE)

R[write to console]: Error in print(..., self = self) : unused argument (useS4 = FALSE)

R[write to console]: Error in print(..., self = self) : unused argument (useS4 = FALSE)

R[write to console]: Error in print(..., self = self) : unused argument (useS4 = FALSE)

R[write to console]: Error in print(..., self = self) : unused argument (useS4 = FALSE)

R[write to console]: Error in print(..., self = self) : unused argument (useS4 = FALSE)

R[write to console]: Error in print(..., self = self) : unused argument (useS4 = FALSE)

R[write to console]: Error in print(..., self = self) : unused argument (useS4 = FALSE)

o{'None':              id                      time   gl  each_day day_of_week  reltime  \
1     Subject 1 2015-06-06 16:50:27-05:00  153   16592.0    Saturday  60627.0
2     Subject 1 2015-06-06 17:05:27-05:00  137   16592.0    Saturday  61527.0
3     Subject 1 2015-06-06 17:10:27-05:00  128   16592.0    Saturday  61827.0
4     Subject 1 2015-06-06 17:15:28-05:00  121   16592.0    Saturday  62128.0
5     Subject 1 2015-06-06 17:25:27-05:00  120   16592.0    Saturday  62727.0
...         ...                       ...  ...       ...         ...      ...
2911  Subject 1 2015-06-19 08:39:36-05:00  115   16605.0      Friday  31176.0
2912  Subject 1 2015-06-19 08:44:36-05:00  115   16605.0      Friday  31476.0
2913  Subject 1 2015-06-19 08:49:36-05:00  116   16605.0      Friday  31776.0
2914  Subject 1 2015-06-19 08:54:36-05:00  116   16605.0      Friday  32076.0
2915  Subject 1 2015-06-19 08:59:36-05:00  115   16605.0      Friday  32376.0

     gl_level  time_group
1      normal           1
2      normal           1
3      normal           1
4      normal           1
5      normal           1
...       ...         ...
2911   normal          15
2912   normal          15
2913   normal          15
2914   normal          15
2915   normal          15

[2915 rows x 8 columns], 'None': o{'None': mapping: x = ~reltime, y = ~gl, group = ~time_group
geom_line: na.rm = FALSE, orientation = NA
stat_identity: na.rm = FALSE
position_identity
, 'None': mapping: x = ~reltime, ymin = ~LLTR, ymax = ~ULTR
geom_ribbon: na.rm = FALSE, orientation = NA, outline.type = both
stat_identity: na.rm = FALSE
position_identity
, 'None': mapping: x = ~reltime, ymin = ~ULTR, ymax = ~gl
geom_ribbon: na.rm = FALSE, orientation = NA, outline.type = both
stat_identity: na.rm = FALSE
position_identity
, 'None': mapping: x = ~reltime, ymin = ~LLTR, ymax = ~gl
geom_ribbon: na.rm = FALSE, orientation = NA, outline.type = both
stat_identity: na.rm = FALSE
position_identity
, }, 'None': <ggproto object: Class ScalesList, gg>
    add: function
    clone: function
    find: function
    get_scales: function
    has_scale: function
    input: function
    n: function
    non_position_scales: function
    scales: list
    super:  <ggproto object: Class ScalesList, gg>
, 'None': o{}, 'None': o{'axis.text.x': o{'family': <rpy2.rinterface_lib.sexp.NULLType object at 0x1062ff140> [RTYPES.NILSXP], 'face': <rpy2.rinterface_lib.sexp.NULLType object at 0x1062ff140> [RTYPES.NILSXP], 'colour': <rpy2.rinterface_lib.sexp.NULLType object at 0x1062ff140> [RTYPES.NILSXP], 'size': <rpy2.rinterface_lib.sexp.NULLType object at 0x1062ff140> [RTYPES.NILSXP], 'hjust': <rpy2.rinterface_lib.sexp.NULLType object at 0x1062ff140> [RTYPES.NILSXP], 'vjust': [0.5], 'angle': [45.], 'lineheight': <rpy2.rinterface_lib.sexp.NULLType object at 0x1062ff140> [RTYPES.NILSXP], 'margin': <rpy2.rinterface_lib.sexp.NULLType object at 0x1062ff140> [RTYPES.NILSXP], 'debug': <rpy2.rinterface_lib.sexp.NULLType object at 0x1062ff140> [RTYPES.NILSXP], 'inherit.blank': [1] FALSE
, }, 'panel.background': o{'fill': [1] "transparent"
, 'colour': [1] NA
, 'linewidth': <rpy2.rinterface_lib.sexp.NULLType object at 0x1062ff140> [RTYPES.NILSXP], 'linetype': <rpy2.rinterface_lib.sexp.NULLType object at 0x1062ff140> [RTYPES.NILSXP], 'inherit.blank': [1] FALSE
, }, }, 'None': <ggproto object: Class CoordCartesian, Coord, gg>
    aspect: function
    backtransform_range: function
    clip: on
    default: TRUE
    distance: function
    expand: TRUE
    is_free: function
    is_linear: function
    labels: function
    limits: list
    modify_scales: function
    range: function
    render_axis_h: function
    render_axis_v: function
    render_bg: function
    render_fg: function
    setup_data: function
    setup_layout: function
    setup_panel_guides: function
    setup_panel_params: function
    setup_params: function
    train_panel_guides: function
    transform: function
    super:  <ggproto object: Class CoordCartesian, Coord, gg>
, 'None': <ggproto object: Class FacetWrap, Facet, gg>
    compute_layout: function
    draw_back: function
    draw_front: function
    draw_labels: function
    draw_panels: function
    finish_data: function
    init_scales: function
    map_data: function
    params: list
    setup_data: function
    setup_params: function
    shrink: TRUE
    train_scales: function
    vars: function
    super:  <ggproto object: Class FacetWrap, Facet, gg>
, 'None': <environment: 0x1558ad270>
, 'None': o{'x': <rpy2.rinterface_lib.sexp.NULLType object at 0x1062ff140> [RTYPES.NILSXP], 'y': [1] "Glucose [mg/dL]"
, 'group': [1] "time_group"
, 'ymin': [1] "LLTR"
, 'ymax': [1] "ULTR"
, }, 'None': o{'plots': o{'None': o{'None': o{}, 'None': o{}, 'None': <ggproto object: Class ScalesList, gg>
    add: function
    clone: function
    find: function
    get_scales: function
    has_scale: function
    input: function
    n: function
    non_position_scales: function
    scales: list
    super:  <ggproto object: Class ScalesList, gg>
, 'None': o{}, 'None': o{}, 'None': <ggproto object: Class CoordCartesian, Coord, gg>
    aspect: function
    backtransform_range: function
    clip: on
    default: TRUE
    distance: function
    expand: TRUE
    is_free: function
    is_linear: function
    labels: function
    limits: list
    modify_scales: function
    range: function
    render_axis_h: function
    render_axis_v: function
    render_bg: function
    render_fg: function
    setup_data: function
    setup_layout: function
    setup_panel_guides: function
    setup_panel_params: function
    setup_params: function
    train_panel_guides: function
    transform: function
    super:  <ggproto object: Class CoordCartesian, Coord, gg>
, 'None': <ggproto object: Class FacetNull, Facet, gg>
    compute_layout: function
    draw_back: function
    draw_front: function
    draw_labels: function
    draw_panels: function
    finish_data: function
    init_scales: function
    map_data: function
    params: list
    setup_data: function
    setup_params: function
    shrink: TRUE
    train_scales: function
    vars: function
    super:  <ggproto object: Class FacetNull, Facet, gg>
, 'None': <environment: 0x144a4cab0>
, 'None': o{}, 'None': o{'plots': o{'None': o{'data': o{}, 'layers': o{}, 'scales': <ggproto object: Class ScalesList, gg>
    add: function
    clone: function
    find: function
    get_scales: function
    has_scale: function
    input: function
    n: function
    non_position_scales: function
    scales: list
    super:  <ggproto object: Class ScalesList, gg>
, 'mapping': o{}, 'theme': o{}, 'coordinates': <ggproto object: Class CoordCartesian, Coord, gg>
    aspect: function
    backtransform_range: function
    clip: on
    default: TRUE
    distance: function
    expand: TRUE
    is_free: function
    is_linear: function
    labels: function
    limits: list
    modify_scales: function
    range: function
    render_axis_h: function
    render_axis_v: function
    render_bg: function
    render_fg: function
    setup_data: function
    setup_layout: function
    setup_panel_guides: function
    setup_panel_params: function
    setup_params: function
    train_panel_guides: function
    transform: function
    super:  <ggproto object: Class CoordCartesian, Coord, gg>
, 'facet': <ggproto object: Class FacetNull, Facet, gg>
    compute_layout: function
    draw_back: function
    draw_front: function
    draw_labels: function
    draw_panels: function
    finish_data: function
    init_scales: function
    map_data: function
    params: list
    setup_data: function
    setup_params: function
    shrink: TRUE
    train_scales: function
    vars: function
    super:  <ggproto object: Class FacetNull, Facet, gg>
, 'plot_env': <environment: 0x16a3e3ac0>
, 'labels': o{}, }, 'None': o{'data':        range    percent
1   very_low   0.000000
2        low   0.137221
3     target  91.663808
4       high   7.821612
5  very_high   0.377358, 'layers': o{'None': geom_bar: just = 0.5, width = NULL, na.rm = FALSE, orientation = NA
stat_identity: na.rm = FALSE
position_stack
, }, 'scales': <ggproto object: Class ScalesList, gg>
    add: function
    clone: function
    find: function
    get_scales: function
    has_scale: function
    input: function
    n: function
    non_position_scales: function
    scales: list
    super:  <ggproto object: Class ScalesList, gg>
, 'mapping': o{'x': [1.], 'y': <quosure>
expr: ^percent
env:  0x1688e8b70
, 'fill': <quosure>
expr: ^range
env:  0x1688e8b70
, }, 'theme': o{'axis.title.x': o{}, 'axis.text.x': o{}, 'axis.ticks.x': o{}, 'panel.background': o{}, }, 'coordinates': <ggproto object: Class CoordCartesian, Coord, gg>
    aspect: function
    backtransform_range: function
    clip: on
    default: TRUE
    distance: function
    expand: TRUE
    is_free: function
    is_linear: function
    labels: function
    limits: list
    modify_scales: function
    range: function
    render_axis_h: function
    render_axis_v: function
    render_bg: function
    render_fg: function
    setup_data: function
    setup_layout: function
    setup_panel_guides: function
    setup_panel_params: function
    setup_params: function
    train_panel_guides: function
    transform: function
    super:  <ggproto object: Class CoordCartesian, Coord, gg>
, 'facet': <ggproto object: Class FacetNull, Facet, gg>
    compute_layout: function
    draw_back: function
    draw_front: function
    draw_labels: function
    draw_panels: function
    finish_data: function
    init_scales: function
    map_data: function
    params: list
    setup_data: function
    setup_params: function
    shrink: TRUE
    train_scales: function
    vars: function
    super:  <ggproto object: Class FacetNull, Facet, gg>
, 'plot_env': <environment: 0x1688e8b70>
, 'labels': o{'y': [1] "Percentage"
, 'x': [1] "x"
, 'fill': [1] "range"
, }, }, }, 'layout': o{'ncol': <rpy2.rinterface_lib.sexp.NULLType object at 0x1062ff140> [RTYPES.NILSXP], 'nrow': <rpy2.rinterface_lib.sexp.NULLType object at 0x1062ff140> [RTYPES.NILSXP], 'byrow': <rpy2.rinterface_lib.sexp.NULLType object at 0x1062ff140> [RTYPES.NILSXP], 'widths': [4. 1. 1.], 'heights': <rpy2.rinterface_lib.sexp.NULLType object at 0x1062ff140> [RTYPES.NILSXP], 'guides': <rpy2.rinterface_lib.sexp.NULLType object at 0x1062ff140> [RTYPES.NILSXP], 'tag_level': <rpy2.rinterface_lib.sexp.NULLType object at 0x1062ff140> [RTYPES.NILSXP], 'design': <rpy2.rinterface_lib.sexp.NULLType object at 0x1062ff140> [RTYPES.NILSXP], }, 'annotation': o{'title': <rpy2.rinterface_lib.sexp.NULLType object at 0x1062ff140> [RTYPES.NILSXP], 'subtitle': <rpy2.rinterface_lib.sexp.NULLType object at 0x1062ff140> [RTYPES.NILSXP], 'caption': <rpy2.rinterface_lib.sexp.NULLType object at 0x1062ff140> [RTYPES.NILSXP], 'tag_levels': <rpy2.rinterface_lib.sexp.NULLType object at 0x1062ff140> [RTYPES.NILSXP], 'tag_prefix': <rpy2.rinterface_lib.sexp.NULLType object at 0x1062ff140> [RTYPES.NILSXP], 'tag_suffix': <rpy2.rinterface_lib.sexp.NULLType object at 0x1062ff140> [RTYPES.NILSXP], 'tag_sep': <rpy2.rinterface_lib.sexp.NULLType object at 0x1062ff140> [RTYPES.NILSXP], 'theme': o{}, }, }, }, 'None': o{'data':        times      median       five  twentyfive  seventyfive  ninetyfive
1      300.0   96.993333  80.826667   90.060000   118.186667  146.279788
2      600.0   96.006667  80.764000   89.060000   122.046667  140.596940
3      900.0   95.033333  79.849333   90.880000   123.140000  138.672000
4     1200.0   96.033333  80.858667   93.820000   117.420000  136.889333
5     1500.0   97.033333  82.845333   93.006667   108.420000  138.998667
..       ...         ...        ...         ...          ...         ...
284  85200.0  102.612688  92.193333   93.993333   126.960000  175.436000
285  85500.0  100.300000  91.265333   92.966667   124.860000  169.068000
286  85800.0   96.993333  90.384000   92.266667   117.920000  159.248000
287  86100.0   97.993333  83.825333   91.980000   116.186047  153.280000
288  86400.0   96.013333  80.525333   91.060000   119.913043  149.312000

[288 rows x 6 columns], 'layers': o{'None': mapping: x = ~times, y = ~median
geom_line: na.rm = FALSE, orientation = NA
stat_identity: na.rm = FALSE
position_identity
, 'None': mapping: x = ~times, y = ~five
geom_line: na.rm = FALSE, orientation = NA
stat_identity: na.rm = FALSE
position_identity
, 'None': mapping: x = ~times, y = ~ninetyfive
geom_line: na.rm = FALSE, orientation = NA
stat_identity: na.rm = FALSE
position_identity
, 'None': mapping: x = ~times, ymin = ~seventyfive, ymax = ~ninetyfive
geom_ribbon: na.rm = FALSE, orientation = NA, outline.type = both
stat_identity: na.rm = FALSE
position_identity
, 'None': mapping: x = ~times, ymin = ~five, ymax = ~twentyfive
geom_ribbon: na.rm = FALSE, orientation = NA, outline.type = both
stat_identity: na.rm = FALSE
position_identity
, 'None': mapping: x = ~times, ymin = ~twentyfive, ymax = ~seventyfive
geom_ribbon: na.rm = FALSE, orientation = NA, outline.type = both
stat_identity: na.rm = FALSE
position_identity
, 'None': mapping: yintercept = ~yintercept
geom_hline: na.rm = FALSE
stat_identity: na.rm = FALSE
position_identity
, 'None': mapping: yintercept = ~yintercept
geom_hline: na.rm = FALSE
stat_identity: na.rm = FALSE
position_identity
, 'None': mapping: y = ~value, label = ~c("5%", "25%", "50%", "75%", "95%")
geom_text: parse = FALSE, check_overlap = FALSE, na.rm = FALSE
stat_identity: na.rm = FALSE
position_identity
, }, 'scales': <ggproto object: Class ScalesList, gg>
    add: function
    clone: function
    find: function
    get_scales: function
    has_scale: function
    input: function
    n: function
    non_position_scales: function
    scales: list
    super:  <ggproto object: Class ScalesList, gg>
, 'mapping': o{}, 'theme': o{'plot.margin': [1. 3. 1. 1.], }, 'coordinates': <ggproto object: Class CoordCartesian, Coord, gg>
    aspect: function
    backtransform_range: function
    clip: off
    default: FALSE
    distance: function
    expand: TRUE
    is_free: function
    is_linear: function
    labels: function
    limits: list
    modify_scales: function
    range: function
    render_axis_h: function
    render_axis_v: function
    render_bg: function
    render_fg: function
    setup_data: function
    setup_layout: function
    setup_panel_guides: function
    setup_panel_params: function
    setup_params: function
    train_panel_guides: function
    transform: function
    super:  <ggproto object: Class CoordCartesian, Coord, gg>
, 'facet': <ggproto object: Class FacetNull, Facet, gg>
    compute_layout: function
    draw_back: function
    draw_front: function
    draw_labels: function
    draw_panels: function
    finish_data: function
    init_scales: function
    map_data: function
    params: list
    setup_data: function
    setup_params: function
    shrink: TRUE
    train_scales: function
    vars: function
    super:  <ggproto object: Class FacetNull, Facet, gg>
, 'plot_env': <environment: 0x134cfd2e0>
, 'labels': o{'x': <rpy2.rinterface_lib.sexp.NULLType object at 0x1062ff140> [RTYPES.NILSXP], 'y': [1] "Glucose [mg/dL]"
, 'ymin': [1] "seventyfive"
, 'ymax': [1] "ninetyfive"
, 'yintercept': [1] "yintercept"
, 'label': [1] "c(\"5%\", \"25%\", \"50%\", \"75%\", \"95%\")"
, }, }, }, 'layout': o{'ncol': [1.], 'nrow': <rpy2.rinterface_lib.sexp.NULLType object at 0x1062ff140> [RTYPES.NILSXP], 'byrow': <rpy2.rinterface_lib.sexp.NULLType object at 0x1062ff140> [RTYPES.NILSXP], 'widths': <rpy2.rinterface_lib.sexp.NULLType object at 0x1062ff140> [RTYPES.NILSXP], 'heights': <rpy2.rinterface_lib.sexp.NULLType object at 0x1062ff140> [RTYPES.NILSXP], 'guides': <rpy2.rinterface_lib.sexp.NULLType object at 0x1062ff140> [RTYPES.NILSXP], 'tag_level': <rpy2.rinterface_lib.sexp.NULLType object at 0x1062ff140> [RTYPES.NILSXP], 'design': <rpy2.rinterface_lib.sexp.NULLType object at 0x1062ff140> [RTYPES.NILSXP], }, 'annotation': o{'title': <rpy2.rinterface_lib.sexp.NULLType object at 0x1062ff140> [RTYPES.NILSXP], 'subtitle': <rpy2.rinterface_lib.sexp.NULLType object at 0x1062ff140> [RTYPES.NILSXP], 'caption': <rpy2.rinterface_lib.sexp.NULLType object at 0x1062ff140> [RTYPES.NILSXP], 'tag_levels': <rpy2.rinterface_lib.sexp.NULLType object at 0x1062ff140> [RTYPES.NILSXP], 'tag_prefix': <rpy2.rinterface_lib.sexp.NULLType object at 0x1062ff140> [RTYPES.NILSXP], 'tag_suffix': <rpy2.rinterface_lib.sexp.NULLType object at 0x1062ff140> [RTYPES.NILSXP], 'tag_sep': <rpy2.rinterface_lib.sexp.NULLType object at 0x1062ff140> [RTYPES.NILSXP], 'theme': o{}, }, }, }

In [7]:
print(iglu.auc(data))

          id  hourly_auc
1  Subject 1  123.244022

In [8]:
iglu.agp_metrics(data)

,id,start_date,end_date,ndays,active_percent,mean,GMI,CV,below_54,below_70,in_range_70_180,above_180,above_250
1,Subject 1,2015-06-06 16:50:27-05:00,2015-06-19 08:59:36-05:00,12.7,79.841139,123.665523,6.268079,26.901658,0.0,0.137221,91.663808,8.198971,0.377358

In [9]:
iglu.mad_glu(data)

          id      MAD
1  Subject 1  25.2042

In [10]:
iglu.j_index(data)

          id    J_index
1  Subject 1  24.628155

In [11]:
iglu.cv_glu(data)

          id         CV
1  Subject 1  26.901658

In [12]:
iglu.mean_glu(data)

          id        mean
1  Subject 1  123.665523

In [13]:
iglu.median_glu(data)

          id  median
1  Subject 1     112

In [14]:
iglu.mag(data)

          id        MAG
1  Subject 1  17.010839

In [15]:
iglu.mage(data)

          id       MAGE
1  Subject 1  87.166479